#pane
{
    -fx-pref-height: 1100px;
    -fx-pref-width: 1700px;
    -fx-alignment: center;
    -fx-font-size: 25px;
}

.pane-class
{
    -fx-font-family: 'Comic Sans MS';
}

.app-bar-class
{
    -fx-background-color: rgb(151, 79, 218);
    -fx-pref-width: 1700px;
    -fx-font-size: 30px;
}

.icon-class
{
    -fx-border-radius: 15px;
}

#imgViewLogo
{
    -fx-border-color: black;
    -fx-border-radius: 50px;
    -fx-border-width: 60px;
}

.textfield-class
{
    -fx-background-color: rgb(150, 123, 226);
    /* -fx-background-radius: 20px; */
    -fx-font-size: 20px;
}

.button-class
{
    -fx-background-color: rgb(150, 123, 226);
    -fx-background-radius: 20px;
    -fx-pref-height: 50px;
    -fx-font-size: 10px;
}

.label-class
{
    -fx-background-color: rgb(200, 188, 211);
    -fx-background-radius: 20px;
    -fx-pref-height: 20px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 19px;
}

#toggleBtnSearch
{
    
    -fx-background-color: rgb(151, 79, 218);
    -fx-background-radius: 20px;
    -fx-font-size: 18px;
    -fx-alignment: center;
}

#hiperLink
{
    -fx-text-fill: black;
    -fx-font-size: 25px;
}

#imgView
{
    -fx-background-radius: 20px;
}

#label
{
    -fx-background-color: rgb(154, 55, 236);
    -fx-font-size: 30px;
}

.ticket-class
{
    -fx-background-color: rgb(21, 1, 30);
    -fx-font-size: 18px;
}

.menu-item-class
{
    -fx-background-radius: 50px;

}

.label-item-class
{
    -fx-text-fill: white;
}