#pane
{
    -fx-pref-height: 1100px;
    -fx-pref-width: 1700px;
    -fx-alignment: center;
    -fx-font-size: 25px;
}

.pane-class
{
    -fx-font-family: 'Comic Sans MS';
}

.app-bar-class
{
    -fx-background-color: rgb(150, 54, 228);
    -fx-pref-width: 1700px;
    -fx-font-size: 30px;
}

.icon-class
{
    -fx-border-radius: 15px;
}

#imgViewLogo
{
    -fx-border-color: black;
    -fx-border-radius: 50px;
    -fx-border-width: 60px;
}

.textfield-class
{
    -fx-background-color: rgb(150, 123, 226);
    /* -fx-background-radius: 20px; */
    -fx-font-size: 20px;
}

.button-class
{
    -fx-background-color: rgb(150, 123, 226);
    -fx-background-radius: 20px;
    -fx-pref-height: 50px;
    -fx-font-size: 10px;
}

.label-class
{
    -fx-border-radius: 15px;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-font-size: 30px;
}

#toggleBtnSearch
{

    -fx-background-color: rgb(151, 79, 218);
    -fx-background-radius: 20px;
    -fx-border-radius: 15px;
    -fx-alignment: center;
    -fx-font-size: 30px;
}

#hiperLink
{
    -fx-text-fill: black;
    -fx-font-size: 25px;
}

#imgView
{
    -fx-background-radius: 20px;
}

#label
{
    -fx-background-color: rgb(150, 54, 228);
    -fx-font-size: 30px;
}